
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Master</title>
   
    @Styles.Render("~/Content/css")
    
</head>
<body> 

     
   
        
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <span class="glyphicon glyphicon-search" aria-hidden="true" style="color:#ffffff; text-align:center">
                      bulbizi.com
                    </span>
                </div>
                
                   
              
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Anasayfa", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

  
    <img class="arkaplan" src="../images/bulbizi-arkaplan.gif" width="%100" height="100%">


    <div class="container"> 
        @RenderBody() 
    </div>

  

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
        
   
    @RenderSection("scripts", required: false) 
</body>
</html>
